* {
    margin: 0;
    padding: 0;
    font-family: 'Itim', cursive;
}

html {
    background-image: url("BG-photo.png");
    background-color: #fff;
}
h1 {
    font-size: 50px;
}

h2{
    font-size: 40px;
}

h3 {
    color: #B3BCC7;
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

header {
    float: left;
    text-align: center;
    width: 50%;
}

section {
    float: right;
    text-align: center;
    width: 50%;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin-top: 2%;
}

button {
    margin-top: 30px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(to right, #6ABDEB 0%, #39BCD4 100%);
    box-shadow: 0px 2px 4px rgb(51, 51, 51, .25);
    border-radius: 5px;
    border: none;
}

button:hover { 
    background: #39BCD4;
}

canvas:hover {
    background-color: rgb(57, 188, 212, .10)
}

#head {
    color: #4C6A86;
    font-size: 80px;
    text-align: center;
    width: 600px;
    margin: 25% 0 5% 0;
}

#results {
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 600px;
    float: left; 
}

h2#result {
    margin: auto;
    margin-bottom: 40px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 2px 2px 20px 10px rgba(219, 239, 243, 0.50);
}

#new-game {
    width: 300px;
    margin: auto 0;
}

#playground {
    width: 450px;
    height: 750px;
    margin: auto;
    box-shadow: 2px 2px 20px 10px rgba(219, 239, 243, 0.50);
    border: 1px solid#9EDEE9;
    background-color: white;
    border-radius: 5px;
}

#primary-blue {
    color: #39BCD4;
    font-size: 80px;
}

#secondary-blue {
    color: #3989D4;
    font-size: 80px;
}

.wrapper {
    margin: 0 auto;
    margin-top: 40px;
    width: 310px;
    height: 310px;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;  
}

.box {
  border: 1px solid #dcdcdc;
  float: left;
  box-sizing: border-box;
  position: relative;
}

  .box:first-child {
    border-top: 0;
    border-left: 0;
    
  }
   .box:nth-child(2){
    border-top: 0;
  }
   .box:nth-child(3){
    border-top: 0;
    border-right: 0;
  }
   .box:nth-child(4){
    border-left: 0;
  }
  .box:nth-child(6){
    border-right: 0;
  }
  .box:nth-child(7){
    border-left: 0;
    border-bottom: 0;
  }
  .box:nth-child(8){
    border-bottom: 0;
  }
  .box:nth-child(9){
    border-right: 0;
    border-bottom: 0;
  } 

.columns {
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;
}

.columns > img {
    width: 25px;
    height: auto;
}

ul {
    margin-top: 50px;
    text-align: center;
}

/* Media Queries */
@media (max-width: 991px) {
section {
    position: static;
    width: 100%;
    }

header {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    width: 100%;
    }    

#playground {
    width: 450px;
    }   
}

@media (max-width: 1024px) { 
    #head {
        width: 100%;
        font-size: 65px;
        }

    #secondary-blue {
        font-size: 55px;
        }

    #primary-blue {
        font-size: 55px;
        } 
}

@media (max-width: 425px) { 
    #playground {
        width: 95%;
    }

    #head {
        width: 100%;
        font-size: 40px;
    }

    #secondary-blue {
        font-size: 40px;
    }

    #primary-blue {
        font-size: 40px;
    } 
}

    @media (min-width: 300px) {       
header {
    padding-top: 20px;
    padding-bottom: 40px;
}

div {
    margin: 0;
}

.columns {
    width: 90px;
    height: 90px;
}

#new-game {
    width: 200px;
    }
}